<!DOCTYPE html>
<html>
 {{ template "header" .}}
 <body>
    <div class="major_pane">
       <h2>index.tmpl</h2>
       <div class="minor_pane">
         <p>hello</p>
       </div>
    </div>
 </body>
 {{ template "footer" .}}
</html>